header {
}

.topNavigation {
	border-left: solid 1px white;
	position: fixed;
	transition: 400ms;
	width: 85%;
	z-index: 1;
	background-color: black;
	top: 0;
	right: 0;
	left: 15rem;
	padding: 17px;
}

.topNavigationLinks a {
	text-decoration: none;
	font-size: 1.25rem;
	transition: 200ms;
	color: white;
}

.topNavigationLinks li {
	list-style: none;
}

.topNavigationLinks ul {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 0;
	width: 100%;
}

.sideNav {
	position: fixed;
	z-index: 1;
	background-color: black;
	top: 0;
	left: 0;
	width: 20%;
	height: 100%;
	transition: 500ms;
}

.sideNav a {
	text-align: center;
	color: white;
	font-family: "Beon";
	text-decoration: none;
}

.sideNav ul {
	padding: 5px;
}

.sideNavContent ul {
	width: 100%;
	display: block;
	margin-top: 8rem;
	text-align: center;
}

.sideNavContent li {
	font-size: 1.4em;
	list-style: none;
	padding: 30px;
}

/* .sideNavigation {
	position: fixed;
	height: 100%;
	width: 15%; /* Menyn tar bara 20% av width
	bottom: 0;
	left: 0;
	top: 0%;
	background-color: #09fbfc; /* Backgrundsfärg för sid navigationen.
	z-index: 1; /* Gör så att top navigationen hamnar ovanför bilden i main.
}

.sideNavigation a {
	display: block; /* a tagen till punktform 
	color: black; /* texten får svart färg
	margin: 50px 20px;
	padding: 16px 16px;
	text-decoration: none; /* Tar bort underlinjen på tag a
	font-size: 30px;
	text-align: left;
	transition: 500ms;
}

.sideNavigation ul {
	padding: 0; /* Tar bort extra paddingen på ul
	text-align: center;
}

li {
	list-style: none; /* Tar bort punkterna på länkarna 
}

.sideNavigation a:hover {
	font-size: 35px;
}

/* ------------- Top navigation -----------

.topNavigation {
	position: fixed;
	top: 0%;
	width: 100%;
	left: 15%;
	background-color: #c8e092;
	z-index: 1; /* Gör så att top navigationen hamnar ovanför bilden i main.
}

.topNavigation ul li {
}

.topNavigation ul {
	padding: 0; /* Tar bort punkterna på länkarna 
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 0;
	width: 100%;
}

.topNavigation {
	text-align: center; /*Placerar allt som finns i klassen i mitten 
}

.topNavigation a {
	text-decoration: none;
	/*font-size: large;  Ändrar storleken på boktäverna
	color: black;
	text-align: center;

	text-decoration: none;
	font-size: 1.25rem;
	transition: 200ms;
	color: white;
} */
