/*.heroImage {
	min-height: 80vh;
	width: 100%;
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
		url("../Images/Lion.jpg");
	position: relative;
	left: 15%;
}*/

/*.description {
	left: 50%;
}*/
